*{
    
    margin: 0px;
    padding: 0px;
    
}
#outer{
    border: 10px solid red;
    height: 500px;
    padding-left: 20px;
    background-color: aqua;
}
#inner{
    border: 10px solid red;
    padding-left: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 60px;
    height: 300px;
    
    margin-bottom: 20px;
    background-color: blue;
    background-size: cover;

}
nav{
    padding-top: 100px ;
}
nav div{
    display: inline;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
    height: 100px;
    width: 100px;
}
#a{
    margin: 40px 40px;
    border: 5px solid red;
    height: 100px;
    width: 100px;
    background-color: brown;
}
#b{
    margin: 40px 40px;
    border: 5px solid red;
    height: 200px;
    width: 200px;
    background-color: yellow;
}
#c{
    margin: 40px 40px;
    border: 5px solid red;
    height: 200px;
    width: 200px;
    background-color: grey;
}
#d{
    margin: 40px 40px;
    border: 5px solid red;
    height: 200px;
    width: 200px;
    background-color: floralwhite;
}
#e{
    margin: 20px 20px;
    border: 5px solid red;
    height: 200px;
    width: 200px;
    background-color: hotpink;
}
