 *{
  padding: 0px;
  margin: 0px;
}
nav{
  height: 75px;
  width: 100%;
  line-height: 75px;
  padding: 0px 10px;
  position: fixed;
  background-image: linear-gradient(#033747,#012733);
}
n av .logo p{
  font-size: 30px;
  font-weight: bold;
  color:white;
  cursor: pointer;
  padding: 0px;
  margin: 0px;

}
nav ul{
  float: right;
}
nav li{
  display: inline-block;
  list-style: none;
}

 